<mat-nav-list dense class="mt-2">
    <a mat-list-item href="http://google.com">
        <span mat-line><span class="mat-h4">News</span></span>
        <img matListAvatar src="https://www.flaticon.com/svg/vstatic/svg/3609/3609454.svg?token=exp=1616767402~hmac=70081829513e8e47ea9e0d70f0c45865" alt="">
    </a>
    <a mat-list-item href="http://google.com">
        <span mat-line><span class="mat-h4">Booking</span></span>
        <img matListAvatar src="https://www.flaticon.com/svg/vstatic/svg/290/290957.svg?token=exp=1616767870~hmac=fd4af4cb251b500738077bba6792fa26" alt="">
    </a>
    <a mat-list-item href="http://google.com">
        <span mat-line><span class="mat-h4">Service</span></span>
        <img matListAvatar src="https://www.flaticon.com/svg/vstatic/svg/3029/3029355.svg?token=exp=1616769075~hmac=a59a1875779cde900e1e781032a37852" alt="">
    </a>
    <a mat-list-item href="http://google.com">
        <span mat-line><span class="mat-h4">Pay</span></span>
        <img matListAvatar src="https://www.flaticon.com/svg/vstatic/svg/2472/2472891.svg?token=exp=1616916717~hmac=8849a9ff1e93ba3783032ce59e3413da" alt="">
    </a>
    <a mat-list-item href="http://google.com">
        <span mat-line><span class="mat-h4">About</span></span>
        <img matListAvatar src="https://www.flaticon.com/svg/vstatic/svg/2472/2472891.svg?token=exp=1616916717~hmac=8849a9ff1e93ba3783032ce59e3413da" alt="">
    </a>
</mat-nav-list>