<mat-toolbar color="primary">
    <div (click)="onClickNavToggle()"><button *ngIf="mobileQueryMax" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button></div>

    <button mat-button>
        <span class="mat-h1">HSM</span>
    </button>
    <div *ngIf="!mobileQueryMax"><button mat-button>News</button>
        <button mat-button>Booking</button>
        <button mat-button>Service</button>
        <button mat-button>Pay</button>
        <button mat-button>About</button>
    </div>

    <span class="flex-fill"></span>
    <button mat-button>Login</button>
    <div class="vl"></div>
    <button mat-button>Sign In</button>


</mat-toolbar>